<header>
    <h1><%= @header %></h1>
</header>
<%= form_tag("/books", method: "get") do %>
    <%= search_field_tag(:q) %>
    <%= submit_tag("Search",class: "btn btn-primary") %>
<% end %>
<%= render 'list' %>
