<article class="book">
  <%= render 'shared/validation_errors', object: @book %>
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <p>
      <%= image_tag(@book.image_cover_url, :size => "90x136",class: " img-thumbnail pull-left") %>
      <%= @book.abstract %>
  </p>    
  <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= link_to @book.author, author_path(@book.author_id) %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
  <p><label>Available to Reserve:</label> <%= @book.total_in_library %></p>
  <div>
  <% @user = User.find_by(user_id: session[:user_id]) %>
  <% if @user.reservations.where(book_id: @book).empty? %>
  <%= link_to "Reserve", create_reservation_path(book_id: @book), method: :post, class: 'btn btn-primary' %>
  <% else %>
  <p><%= "You already have this book checked out." %></p>
  <% end %>
  <% if session[:admin] %>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>
    <%= button_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</div>
</article>
