<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <p>
      <%= image_tag(@book.image_cover_url, :size => "90x136",class: " img-thumbnail pull-left") %>
      <%= @book.abstract %>
  </p>    
  <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= link_to @book.author, author_path(@book.author_id) %></p>
  <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
  <p><label>Available to Reserve:</label> <%= @book.total_in_library %></p>
</article>

<%= link_to 'All Books', books_path %>
| <%= link_to 'Edit', edit_book_path(@book) %>
<%= button_to 'Delete', @book, 
				method: :delete, 
				data: { confirm: 'Are you sure?' } %>
